.App {
  font-family: monospace;
}

body {
  background-color: #686868;
  color: #f2efea;
}

/* h1 {
  font-size: medium;
} */

.map-wrapper {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.generating {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.noise-grids {
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  gap: 0.2em;
}
.toggles {
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  gap: 0.2em;
}

.noise-grids p {
  font-size: 1em;
  margin-bottom: 0.2em;
}

.hex-inspect span {
  padding-right: 1em;
}

.hex-inspector {
  padding-bottom: 0.2em;
}

.control {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  margin-top: 1em;
  padding-bottom: 1em;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: black;
  padding-left: 13em;
  margin-bottom: 1em;
}

.heim {
  font-weight: lighter;
}
