.App {
    text-align: center;
}

body {
    background-color: #686868;
    color: #1c0b19;
}

h1 {
    font-size: medium;
}

.Stage {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.hex-inspect {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}